.root {
  border-width: 2px;
  border-style: solid;
  border-color: #777;
  padding: 20px;
  max-width: 400px;
}

.root :global .g-text {
  color: brown;
}

.class-name {
  color: green;
  background: red;
}
.other-class-name {
  composes: class-name;
  color: yellow;
}

.b__e--m {
  margin: 10px 0;
  color: #333;
}
.other-b__e--m {
  composes: b__e--m;
  color: #f60;
  font-size: 20px;
}

.root2 {
  composes: box from '../layout.module.css';
  border-style: dotted;
  border-color: green;
}

.text2 {
  composes: heading from '../typography.module.css';
  font-weight: 200;
  color: green;
}
